<div class="container">
  <!-- {{}} -> from ts to html -->
  <!-- [] -> from ts (native angular) to html -->
  <!-- () -> from html to ts-->

  <!-- interpolation {{}} example:  -->
  <!-- Double curly braces are used in the template to display data from the template's component class -->

  <p>{{ title }}</p>
  <!-- interpolation can be used to resolve expressions -->
  <p>{{ 10 - 2 }}</p>
  <!-- we can also call a method here using interpolation -->
  <p>{{ solveExpression() }}</p>

  Flag is {{ flag }}
  <!-- if -->
  <div *ngIf="flag">Flag is {{ flag }}</div>

  <!-- loop 01 -->
  <br />
  <p *ngFor="let dog of array">{{ dog }}</p>

  <!-- loop with unordered list  -->
  <div *ngFor="let item of array">
    <ul>
      <li>{{ item }}</li>
    </ul>
  </div>

  <br />

  <!-- https://angular.io/guide/built-in-directives -->
  <!--  It use the Angular Directive: ngStyle to apply styles conditionally -->
  <div [ngStyle]="{ color: flag ? 'red' : 'blue' }">text color</div>

  <!-- NgClass: Adds and removes a set of CSS classes -->
  <!-- brackets []: as input: binding property from component.ts to template.html -->
  <div [ngClass]="{ cssClassStyle: flag, cssClassNoStyle: !flag }">
    text color class!!!
  </div>

  <!-- NgModel: adds two-way data binding to an HTML from element -->
  <!-- [(brackets and parentheses)]: binding data in both ways component.ts <=> template.html -->
  <input [(ngModel)]="userInput" placeholder="Enter text here" />
  <p>You entered: {{ userInput }}</p>

  <!-- parentheses as output/event -> event from html to ts-->
  <!-- event binding: click -->
  <button class="btn btn-primary" (click)="handleClick()">Click</button>
  <p>Number: {{ number }}</p>

  <!-- Use from Pipes -->
  <!-- If you are using Angular 17, you have to import it in your standalone component:
  import { CommonModule } from '@angular/common'
  -->
  <p>{{ title | uppercase }}</p>
  <p>{{ currentDate }}</p>
  <p>{{ currentDate | date: 'dd/MM/yyyy' }}</p>
  <p>{{ currentDate | date: 'shortDate' }}</p>
  <p>{{ currentDate | date: 'longDate' }}</p>
  <p>{{ currentDate | date: 'fullDate' }}</p>
  <p>{{ 1 | percent }}</p>
  <p>{{ 0.5 | percent }}</p>

  <!-- Info: https://angular.io/guide/inputs-outputs#sending-data-to-a-parent-component -->
  <app-child
    [childMessage]="parentMessage"
    (messageEventChild)="receiveMessageParent($event)"
  ></app-child>

  <p>Message from child: {{ receivedMessage }}</p>
</div>

<div>
  <!-- Using Input Decorator at the app-card -->
  <app-card [appCardItems]="items"></app-card>
</div>
